<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs')%>

	<body>
		<div class="container-fluid">
			<div class="row">
				<%- include('./partials/layout.ejs')%>
				<div class="col-sm-10">
					<h1><%= title%></h1>
					<form action="" method="POST">
						<div class="form-group">
							<label for="first_name">First Name: </label>
							<input
								class="first_name form-control"
								id="first_name"
								type="text"
								placeholder="First name (Christian)"
								name="first_name"
								value="<%= typeof author === 'undefined' ? '' : author.first_name %>"
								required
							/>
							<label for="family_name">Family Name: </label>
							<input
								class="family_name form-control"
								id="family_name"
								type="text"
								placeholder="Family name (Surname)"
								name="family_name"
								value="<%= typeof author === 'undefined' ? '' : author.family_name %>"
								required
							/>
							<label for="date_of_birth">Date of birth: </label>
							<input
								class="date_of_birth form-control"
								id="date_of_birth"
								type="date"
								name="date_of_birth"
								value="<%= typeof author === 'undefined' ? '' : author.date_of_birth %>"
								required
							/>
							<label for="date_of_death">Date of death: </label>
							<input
								class="date_of_death form-control"
								id="date_of_death"
								type="date"
								name="date_of_death"
								value="<%= typeof author === 'undefined' ? '' : author.date_of_death %>"
								required
							/>
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</form>

					<% if(typeof errors !== 'undefined') {%>
					<ul>
						<% errors.forEach(error => { %>
						<li><%= error.msg%></li>
						<%})%>
					</ul>
					<%}%>
				</div>
			</div>
		</div>
	</body>
</html>
